<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{users/layout}">
<head>
    <title> Users Index </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <section layout:fragment = "content">
        <div>
            <p> User index specific data </p>
            <a th:href="@{/users/show}"> Users/Show </a>

            <ul>
                <li th:each = "user : ${users}"}>
                    <p th:text = "${user.username}"> </p>
                </li>
            </ul>

        </div>
    </section>
</body>
</html>