<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{users/layout}">
<head>
    <title> Users Show </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<section layout:fragment = "content">
    <div>
        <p> User show specific data </p>
        <a th:href="@{/users/index}"> Users/Index </a>
    </div>
</section>
</body>
</html>